services:
  worker:
    container_name: skyline_ub
    build:
      context: .
    volumes:
      - worker:/data
    stop_signal: SIGINT
    restart: unless-stopped
    ports:
      - "${EXTERNAL_PORT:-8080}:8080"
volumes:
  worker:
